:root {
  --white: #fafafa;
  --darkwhite: #f6f6f6;
  --gray: #eaeaea;
  --midgray: #7e7e7e;
  --darkgray: #353535;
  --purple: #9356dc;
  --lightpurple: #f5edfe;
  --rose: #ff79da;
  --green: #99e2d0;
  --darkgreen: #3b8568;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  background-color: var(--darkwhite);
  overflow-x: hidden;
}
h2 {
  border-bottom: 4px solid var(--green);
  padding-bottom: 5px;
  width: 15%;
}
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

/* Header */
.title-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.return-home {
  padding-left: 1rem;
}
.logo a {
  display: flex;
  justify-content: center;
  margin: 1rem 2rem 1rem 0;
}
.logo img {
  max-width: 50%;
  height: auto;
}
.banner {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 280px;
  width: 100%;
}
.banner-1 {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 280px;
  width: 100%;
}
.banner-2 {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 280px;
  width: 100%;
}
.banner-3 {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 280px;
  width: 100%;
}

/* Menu */
.menu {
  background-color: var(--darkwhite);
  height: max-content;
  width: 100%;
  margin-top: -4rem;
  border-radius: 50px 50px 0px 0px;
}
.title {
  font-family: "Shrikhand";
  font-size: small;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2.5rem;
}
.title-section {
  margin-top: 2rem;
  padding-left: 2rem;
  font-size: small;
}
.heart {
  color: var(--midgray);
}
.heart:hover {
  animation: fill 1s ease-out;
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.meal {
  display: flex;
  background-color: white;
  margin-top: 1rem;
  margin-right: 2rem;
  border-radius: 15px;
  height: 70px;
  box-shadow: 0px 5px 15px 0px var(--gray);
  animation: meal-card 0.5s;
  transform: scale(0);
  animation-fill-mode: both;
  cursor: pointer;
}
@keyframes meal-card {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.delay1 {
  animation-delay: 0.3s;
}
.delay2 {
  animation-delay: 0.5s;
}
.delay3 {
  animation-delay: 0.7s;
}
.delay4 {
  animation-delay: 0.9s;
}
.meal-content {
  padding: 0px 10px;
  width: 100%;
}
.meal-content h3,
p {
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meal p {
  margin-top: -0.5rem;
}
.price {
  display: flex;
  justify-content: flex-end;
  margin-top: -1.7rem;
  margin-right: 0.5rem;
}
.meal-check {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: var(--white);
  background-color: var(--green);
  border-radius: 0px 15px 15px 0px;
  width: 0px;
}
.meal:hover .meal-check {
  opacity: 1;
  width: 100px;
  transition: 0.5s ease-in;
  cursor: pointer;
}
.check-icon {
  transition: transform 0.5s ease-in;
}
.meal-check:hover .check-icon {
  transform: rotate(360deg);
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 6rem;
}
.button-command {
  border-radius: 30px;
  border: none;
  padding: 1em;
  background-image: linear-gradient(#ff79da, #9356dc);
  color: white;
  box-shadow: 0px 5px 15px 0px gray;
  width: 200px;
  height: 50px;
  cursor: pointer;
}
.button-command:hover {
  background-image: linear-gradient(#9356dc, #ff79da);
}

/* Footer */
footer {
  background-color: var(--darkgray);
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 10px;
  list-style: none;
  color: white;
  font-family: "Roboto";
  font-size: smaller;
  width: 100%;
  bottom: 0;
}
.footer h3 {
  padding-left: 0.5rem;
}
.footer li {
  display: flex;
  align-items: center;
  margin: 0;
  height: 30px;
  cursor: pointer;
}
.mentions h3 {
  padding-left: 0;
}
.contact h3 {
  padding-left: 0;
}
.contact a:link {
  text-decoration: none;
  color: var(--white);
}
.contact a:visited {
  color: var(--white);
}
.logo-footer img {
  width: 100px;
  height: auto;
  filter: invert(100%);
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 2rem;
}

/** Tablet **/
@media only screen and (min-device-width: 768px) {
  .title-page {
    padding-right: 10rem;
  }
  .return-home {
    padding-right: 8rem;
  }
  h2 {
    padding-bottom: 5px;
    width: 7%;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
  }
}

/** Desktop & Laptop **/
@media only screen and (min-width: 1920px) {
  .title-page {
    display: flex;
    justify-content: flex-start;
  }
  .logo {
    margin-left: 35rem;
  }
  .return-home {
    margin-left: 1rem;
  }
  h2 {
    width: 3%;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    margin-right: 15rem;
    padding-left: 0px;
  }
  .logo-footer {
    margin-left: 4rem;
  }
  .footer li {
    margin-left: 6rem;
  }
}
/** 4k Desktop **/
@media only screen and (min-width: 2560px) {
  .logo {
    margin-left: 40rem;
  }
  body {
    width: 80%;
    margin: auto;
  }
}
